<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Preferences to extend Address models -->
    <preference for="Magento\Quote\Model\Quote\Address" type="Escooter\Checkout\Model\Quote\Address"/>
    <preference for="Magento\Sales\Model\Order\Address" type="Escooter\Checkout\Model\Order\Address"/>
    <preference for="Magento\Sales\Block\Adminhtml\Order\Address\Form" type="Escooter\Checkout\Block\Adminhtml\Order\Address\Form"/>
    
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="escooter_checkout_address_plugin" type="Escooter\Checkout\Plugin\Model\AddEscooterNotes" sortOrder="10"/>
    </type>
    
    <!-- Add escooter_notes to order grid -->
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="escooter_add_notes_to_order_grid" type="Escooter\Checkout\Plugin\Model\ResourceModel\Order\Grid\Collection" sortOrder="10"/>
    </type>
    
    <!-- Add escooter_notes to formatted address output -->
    <type name="Magento\Sales\Model\Order\Address\Renderer">
        <plugin name="escooter_add_notes_to_address" type="Escooter\Checkout\Plugin\Model\Order\Address\RendererPlugin" sortOrder="10"/>
    </type>
    
</config>
