<?xml version="1.0"?>
<!--
/**
 * Copyright © Escooter. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_invoice_save_after">
        <observer name="escooter_erpconnector_invoice_created" instance="Escooter\ErpConnector\Observer\InvoiceCreatedObserver"/>
    </event>
</config>
